body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#button-container {
    margin-top: 10px;
    margin-bottom: 20px; 
}
button {
    cursor: pointer;
}

#edge-info {
    display: none;
    position: absolute;
    background: white;
    border: 1px solid black;
    padding: 10px;
    z-index: 10;
  }
  