body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#button-container {
    margin-top: 10px;
    margin-bottom: 20px; 
}
button {
    cursor: pointer;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#header {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

.colum-info {
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.colum-canvas {
    width: 70%;
}

#div-izquierda {
    position: absolute;
    top: 80px;
    left: 20px;
}
#div-derecha {
    position: absolute;
    top: 80px; 
    right: 20px;
}

#animation-controls {
    display: none;
}
#game-over-window {
    display: none; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    padding: 20px; 
    background: white; 
    border: 2px solid black;
}

#scoreDisplay {
    display:none;
    position: absolute; 
    top: 30%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    padding: 20px; 
    background: white; 
    border: 2px solid black;
}

#timer {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    display: none;
}

#navigation-controls {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.nav-button {
    width: 40px;
    height: 40px;
    background-color: #eee;
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
}

#solutionButton {
    display: none;
}

#info {
    background-color: rgb(5, 241, 245);
    display: none;
}